body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image:url("sample-image.jpg") ;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    background-color: #e0e0e0;
    border: 1px solid #333;
    padding: 10px;
    color: #555;
}
